<div class="contact">
	<div class="content">
		<div class="col">
			<h1>Contact</h1>
			<p>Get in touch with me by email</p>
			<a class="mail" href="mailto:martin.goutry@gmail.com">martin.goutry@gmail.com</a>
			<p>Learn more about me on</p>
			<div class="social">
				<div><a class="icon-github" href="https://github.com/tjabbe" target="_blank">tjabbe</a></div>
				<div><a class="icon-twitter" href="https://twitter.com/MGoutry" target="_blank">@MGoutry</a></div>
			</div>
		</div>
		<div class="col">
			<img src="img/map.png" alt="Paris Map">
			<div class="icon-place">Somewhere around here...</div>
		</div>
	</div>
</div>