<div class="home">

	<div class="content">
		<h1>Hi, I'm <span>Martin</span> !</h1>
		<p>A 23 years old student based in Paris studying the internets at <a class="link" href="http://www.hetic.net" target="_blank">Hetic</a> and former intern at <a class="link" href="https://twitter.com/ohwee_agency" target="_blank">Ohwee</a>. I'm currently looking for an internship as a front-end developer and/or project manager from July to October 2016.</p>

		<a class="btn icon-download" href="#" target="_blank"><span></span>Download my resume</a>
	</div>

</div>