<div class="skills">
	
	<div class="content">
		<div class="skill">
			<h2>Front-End</h2>
			<p>HTML5 (SEO friendly), CSS3 (SASS, Stylus), JavaScript (jQuery, Modernizr,  AngularJS, React, Handlebars), Bootstrap, Foundation, Workflow (Gulp, Grunt, Bower)</p>
		</div>
		<div class="skill">
			<h2>Back-End</h2>
			<p>Node.js (Express, Socket.io, MongoDB), Wordpress</p>
		</div>
		<div class="skill">
			<h2>Others</h2>
			<p>Github, Adobe CC (Photoshop, Illustrator, inDesign), Sketch</p>
		</div>
	</div>
	
</div>