//FONTS

$archive : 'Archive';
$aiLight : 'AileronLight';
$aiUltraLight : 'AileronUltraLight';
$aiHeavy : 'AileronHeavy';
$aiBold : 'AileronBold';
$aiReg : 'AileronRegular';
$aiBlack : 'AileronBlack';

$icon-arrow: "\e900";
$icon-download: "\e901";
$icon-github: "\e902";
$icon-place: "\e903";
$icon-see: "\e904";
$icon-twitter: "\e905";

//COLORS

$bg : #121413;
$green : #2EBD59;
$grey : #545454;